.home {
  padding-top: 110px;
  color: #161637;
  background-color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container .header {
  padding: 120px 40px 10px 0;
  text-align: center;
}
.container .header h1 {
  font-size: 64px;
  margin: auto;
  color: #161637;
}
.container .header p {
  font-size: 20px;
  line-height: 35px;
  margin: 20px 0;
  color: #161637;
}
.container .header .btns {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .btns .btn1 {
  background-color: rgb(4, 10, 181);
  color: #fff;
  padding: 19px 25px;
  border-radius: 4px;
  margin: 5px;
}
.container .header .btns .btn1:hover {
  background-color: blue;
}
.container .header .btns .btn-light {
  border: 1px solid rgb(4, 10, 181);
  padding: 18px 24px;
  border-radius: 4px;
  margin: 5px;
}
.container .header .btns .btn-light:hover {
  border: 1px solid rgb(4, 10, 181);
  box-shadow: 0px 0px 5px -3px rgb(4, 10, 181) inset;
  -webkit-box-shadow: 0px 0px 5px -3px rgb(4, 10, 181) inset;
  -moz-box-shadow: 0px 0px 5px -3px rgb(4, 10, 181) inset;
}
.container .video {
  width: 90%;
  margin: auto;
}
.container .video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .video .tool {
  text-align: right;
  font-size: 13px;
}
.container .design {
  margin: 120px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .design .box {
  width: 40%;
  margin: auto;
}
.container .design .box .icon {
  font-size: 40px;
  color: rgb(4, 10, 181);
}
.container .design .box .text h3 {
  font-size: 24px;
  margin: 10px 0;
}
.container .design .box .text p {
  line-height: 26px;
}
.container .partners {
  width: 80%;
  margin: 40px auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.container .partners div {
  margin: auto;
}
.container .trust {
  text-align: center;
  color: grey;
  margin: 50px auto;
}
.container .invite {
  width: 90%;
  margin: 160px auto 50px auto;
  display: flex;
  justify-content: space-between;
}
.container .invite .right {
  width: 35%;
}
.container .invite .right h2 {
  font-size: 32px;
  color: #000;
  margin: 13px 0;
}
.container .invite .right p {
  line-height: 29px;
  font-size: 17px;
}
.container .invite .right .btn {
  margin: 30px 0;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.container .invite .right .btn .icon {
  font-size: 17px;
  margin: 0 2px;
}
.container .invite .right :hover .icon {
  margin: 0 4px;
}

.infinite {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
  text-align: center;
  background-color: #fbfbfb;
}
.infinite h1 {
  width: 40%;
  font-size: 26px;
  margin: 40px auto;
}
.infinite .icon {
  font-size: 17px;
  margin: 0 4px;
}
.infinite .btn {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.infinite .btn .icon {
  font-size: 17px;
}

.captivate {
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.captivate .left-cont {
  width: 43%;
  padding: 40px;
}
.captivate .left-cont h1 {
  font-size: 32px;
  line-height: 40px;
}
.captivate .left-cont p {
  line-height: 26px;
  margin: 30px 0;
}
.captivate .left-cont .btn {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
}
.captivate .left-cont .btn .icon {
  font-size: 17px;
  margin: 6px 3px;
}
.captivate .left-cont :hover .icon {
  margin: 6px 5px;
}
.captivate .left2 {
  width: 42%;
}
.captivate .right-cont {
  width: 45%;
}
.captivate .right-cont img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.captivate .right-cont .publish {
  width: 100%;
}

.pubishmain {
  margin: 80px auto;
}

.swsection {
  padding: 70px auto;
  border: 1px solid #fff;
}

.swiper {
  background-color: #f5f5f5;
  padding: 30px;
  margin: 50px auto;
  border-radius: 4px;
}/*# sourceMappingURL=home.css.map */