@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease;
}
a, Link{
  text-decoration: none;
  /* color: black; */
} 
ul,li{
  list-style-type: none;
}
