@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease;
}
a, Link{
  text-decoration: none;
  /* color: black; */
} 
ul,li{
  list-style-type: none;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1F0475 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 3px;
  width: 3px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 1px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1F0475;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A3A3A3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #0725A3;
}
